.pictoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 117px;
    height: 100%;
    gap: 20px

}

.picto {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF ;
    border-radius: 6px;
    cursor: pointer;
}

.picto:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

.mock {
    color: white;
}

.button {
    height: 2rem;
    width: 5rem;
    background-color: aliceblue;
    border-radius: 25px ;
    display: flex ;
    align-items: center;
    justify-content: flex-start;
    
}

.button .handle{
    height: 2rem;
    width: 2rem;
    background-color: rgb(177, 46, 61);
    border-radius: 35px;
    border: solid 0.5px aliceblue;
    cursor: pointer;
    display: flex;
  
}

 .clic {
    justify-content: flex-end;
}
